/* 
rgb (72, 131, 140) verde-azul claro icons
rgb( 4, 121, 138) azul linha home
 rgb(27, 153, 179) azul chamativo, navbar
rgb (18, 102, 115) verde-azul escuro triangulo
rgb(194, 8, 97)rosa chamativo, navbar:hover, a:hover
rgb(166, 76, 119) rosa
rgb (0, 0, 0) preto
rgb (241, 241, 241) quase branco : p
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
      0deg,
      rgba(229, 229, 229, 0.6),
      rgba(229, 229, 229, 0.6)
    ),
    rgba(18, 102, 115, 0.5);
  font-family: "Raleway", sans-serif;
}

#home,
#contact {
  height: auto;
}

/* HEADER */

.logo {
  position: absolute;
  background: url(logo.svg) center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 2.75em;
  height: 3.75em;
  display: block; /*https://css-tricks.com/almanac/properties/d/display/ */
  margin: 1em;
  left: 2.2em;
  top: 0.1em;
  z-index: 10; /* set header above navbar */
}

.navbar {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  width: 97%;
  z-index: 9; /* set header above the others elements */
  position: sticky; /* so the header is always visible, similar to "fixed", but only snaps on the when scroll position reaches the element */
}
.navbar > a:active {
  /* onmousedown event */
  color: rgb(27, 153, 179);
}
.navbar > a:hover {
  /* onmouseover and ontouchdown event */
  color: rgb(194, 8, 97);
}

.nav-content {
  transition: color 0.25s ease; /*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions */
}

.list-nav {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  margin: 0 0.5em;
  line-height: 1em;
  height: 3.5em;
  padding: 2.75em 2em;
}

/* Android */
@media only screen and (max-width: 40rem) {
  /* HEADER */
  .logo {
    position: relative;
    /* margin: 0.5em auto; */
    width: 1.5rem;
    left: 0.05rem;
    margin: 0 auto;
    height: 1rem;
    top: 0.80rem;
    }
  .nav-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 50%;
    height: 3.25rem;
    font-size: 0.65rem;
    padding-top: 0;
  }
  .navbar > a {
    /* fills all the width of the navbar with the links */
    padding: 0;
    width: 20%;
    text-align: center;
    margin-top: 0;
  }
  /* HOME */

  main {
    height: 48.75vh;
  }
  .item p {
    position: relative;
    font-size: 0.4em;
    line-height: 3em;
    right: 0.5rem;
    text-align: left;
    top: -1em;
  }

  .icons i {
    display: block;
    position: relative;
    text-align: left;
    margin-right: -3.5em;
    left: 3.15rem;
    letter-spacing: 2em;
    bottom: 8.40em;
    font-size: 2rem;
  }

  div .side-1 {
    position: absolute;
    right: 5px;
    bottom: 205px;
  }

  .row legend {
    font-size: 2rem;
  }

  .row p {
    font-size: 0.65rem;
  }

.row-3 {
  position: relative;
  right: 2.25rem;
}
  .row-3 input, .row-3 textarea, .row-3 label {
    width: 200px;
    font-size: 0.75rem;
  }

  .col-6 {
    position: relative;
    left: 2.25rem;
  }
  /* .row-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: right;
    margin-right: 100px;
    margin-left: 0;
  }

  .row-3 input {
    width: 200px;
  } */
}

/* Iphone */
@media only screen 
and (min-device-width : 375px) and (max-device-width : 667px) {

  .item p {
  position: relative;
  font-size: 0.4em;
  line-height: 3em;
  right: 0.5rem;
  text-align: left;
  top: -1em;
}

.icons i {
  display: block;
  position: relative;
  text-align: left;
  margin-right: -3.5em;
  left: 4.45rem;
  letter-spacing: 2em;
  bottom: 10.59em;
  font-size: 1.75rem;
}
}

/* AQUI TERMINA O MEDIA QUERIE */

/* HOME */

a {
  text-decoration: none;
  color: rgb(72, 131, 140);
}

a:hover {
  color: rgb(194, 8, 97);
}

#home {
  /*just a trick so when you click on the home link goes to the very top of the page,
  it will compensate for the height of the header-container*/
  padding-top: 4.5em;
  margin-top: -6.3em;
}

/*
this section needs work to work better on smaller screens,
use "@media only screen and (max-width: 69.99rem)" for these cases
*/
.container {
  /* cuts childs that goes beyond the borders, avoid weird horizontal scrollbars,
  (comment the overflow property and resize the window, a horizontal scrollbar
  will appear due to the .side-1, also will "overflow" outside the border of the .container),
  see https://css-tricks.com/the-css-overflow-property/
  */
  overflow: hidden;

  width: 90%;
  margin: 1.875em auto;
  padding: 1.25em; /* use em, confused on how to use the unit? just divide the value in px by 16! */
  display: grid;
  grid-template-rows: 31.25em 6.25em;
  grid-template-columns: 1fr 9.5em;
  grid-template-areas:
    "box-1 side"
    "main side";
  background-color: rgba(0, 0, 0, 0.9);
}

.container > * {
  padding: 1.25rem; /* here I used rem, so it takes the base size from the parent (1em) and not from the element (2.5em) */
  color: #f1f1f1;
  font-size: 2.5em;
}

.box-1 {
  text-align: center;
  font-size: 3em;
  line-height: 2em;
}

.main-content {
  grid-area: main;
  border-top: 3px solid rgb(4, 121, 138);
}

.icons {
  text-align: right;
  margin-right: 5em;
  padding-top: 0.625em;
  letter-spacing: 0.3125em;
}

.sidebar {
  grid-area: side;
  width: 100%;
  height: 100%;
  position: relative;
}

.side-1 {
  position: absolute;
  right: 67px;
  margin: -150px;
  background: rgb(18, 102, 115);
  width: 500px;
  height: 950px;
  clip-path: polygon(100% 0, 0% 88%, 100% 59%);
  transform: scale(0.75);
  /* box-shadow: 10px 9px 38px -8px #126673; */
  /* you can apply shadow and effects in svg images,
  it's worth learning*/
}

/* CONTACT */

.row {
  width: 85%;
  text-align: center;
  margin: 0 auto;
}

.row-3 {
  width: 50%;
  display: inline-block;
  padding: 0.5rem;
}

.row-1 {
  font-weight: 600;
  font-size: 4em;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  color: #f1f1f1;
}

.row-2 {
  padding-bottom: 1rem;
  font-size: 1.75em;
}

fieldset {
  border: 2px solid rgb(27, 153, 179);
}

label {
  display: block;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.95em;
}

input,
textarea {
  width: 100%;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(72, 131, 140);
  border-radius: 0.5%;
  padding: 0.5rem;
  font-size: 1em;
}

button {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 2.5em;
  background-color: transparent;
  color: rgb(72, 131, 140);
  cursor: pointer;
  border: none;
}

button:hover {
  color: rgb(194, 8, 97);
}

footer {
  text-align: center;
  padding-top: 2em;
}

.final {
  text-align: center;
  padding-top: 1em;
  font-size: 2em;
}
