/*
rgb (72, 131, 140) verde-azul claro icons
rgb (4, 121, 138) azul linha home
 rgb(27, 153, 179) azul chamativo, navbar
rgb(18, 102, 115) verde-azul escuro triangulo
rgb(194, 8, 97)rosa chamativo, navbar:hover, a:hover
rgb(0, 0, 0) preto
color: rgb(204, 214, 216) quase branco : 
color: rgb(255, 255, 255); get in touch + skills text
 rgba(204, 214, 216, 0.9) bg-color: skills + projects
  rgb(6, 51, 59) icons
*/ 

  /* use em,  just divide the value in px by 16! */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  background: linear-gradient(0deg,
      rgba(229, 229, 229, 0.6),
      rgba(229, 229, 229, 0.6)),
    rgba(18, 102, 115, 0.5);
  font-family: "Raleway", sans-serif;
}

section {
  min-height: 100vh;
  overflow: auto;
}


/* HEADER */

.logo {
  position: relative;
  background: url('img/logo.svg') center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.75em;
  height: 0.95em;
  display: block;
  /*https://css-tricks.com/almanac/properties/d/display/ */
  margin: 1em;
  left: 8.70em;
  top: 0.1em;
  z-index: 10;
  /* set header above navbar */
}

.listnav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 86%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.89);
  border-top: 2px solid rgb(27, 153, 179) ;
  position: fixed;
  top: 36.5em;
  right: 1.56rem;
  padding: 1vh;
}

.list-nav {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  margin: 0 auto;
  padding: 0.75em 1.25em;
  font-weight: 400;
  font-size: 0.78rem;
}

.listnav > a:active {
  /* onmousedown event */
  color: rgb(27, 153, 179);
}

.listnav > a:hover {
  /* onmouseover and ontouchdown event */
  color: rgb(194, 8, 97);
}

.listnav-content {
  transition: color 0.25s ease;
  /*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions */
}




/* HOME */

a {
  text-decoration: none;
  color: rgb(72, 131, 140);
}

a:hover {
  color: rgb(194, 8, 97);
}

#home {
  /*just a trick so when you click on the home link goes to the very top of the page,
  it will compensate for the height of the header-container*/
  padding-top: 4.5em;
  margin-top: -6.3em;
}


.container {
  /* cuts childs that goes beyond the borders, avoid weird horizontal scrollbars,
  (comment the overflow property and resize the window, a horizontal scrollbar
  will appear due to the .side-1, also will "overflow" outside the border of the .container),
  https://css-tricks.com/the-css-overflow-property/
  */
  overflow: hidden;

  width: 86%;
  margin: 1.875em auto;
  padding: 1.25em;
  display: grid;
  grid-template-rows: 33.25em 6.25em;
  grid-template-columns: 1fr 9.5em;
  grid-template-areas:
    "box-1 side"
    "main side";
  background-color: rgba(0, 0, 0, 0.9);
}

.container > * {
  padding: 1.25rem;
  /* used rem, so it takes the base size from the parent (1em) and not from the element (2.5em) */
  color: #f1f1f1;
  font-size: 2.5em;
}

.box-1 {
  text-align: center;
  font-size: 3em;
  line-height: 2em;
  padding-top: 3.25rem;
}

.main-content {
  grid-area: main;
  border-top: 3px solid rgb(4, 121, 138);
}

.icons {
  text-align: right;
  margin-right: 4.42em;
  padding-top: 1.65em;
  letter-spacing: 0.3125em;
}

.sidebar {
  grid-area: side;
  width: 100%;
  height: 100%;
  position: relative;
}

.side-1 {
  position: absolute;
  right: 67px;
  margin: -150px;
  background: rgb(18, 102, 115);
  width: 500px;
  height: 1097.58px;
  clip-path: polygon(100% 0, 0% 88%, 100% 59%);
  transform: scale(0.75);
}

/* CONTACT */

.row {
  width: 85%;
  text-align: center;
  margin: 0 auto;
}

.row-3 {
  width: 80%;
  display: inline-block;
  padding: 0.75em;
}

/* PAGE TITTLE */

.row-1 {
  font-weight: 500;
  font-size: 3.75em;
  padding-bottom: 3rem;
  padding-top: 2rem;
  color: rgb(255, 255, 255);
  text-align: center;
}

.title-section,
.projects-title {
  font-weight: 500;
  font-size: 3.75em;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  color: rgba(0, 0, 0, 0.78);
  text-align: center;
}

/* END PAGE TITTLE */

.row-2 {
  padding-bottom: 1.65rem;
  font-size: 1.45rem;
}

fieldset {
  border: 2px solid rgb(27, 153, 179);
}

label {
  display: block;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.95em;
}

input,
textarea {
  width: 100%;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(72, 131, 140);
  border-radius: 0.5%;
  padding: 0.5rem;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
}

button {
  width: 100%;
  padding: 0.1rem;
  margin-top: 0.7rem;
  font-size: 2.5em;
  background-color: transparent;
  color: rgb(72, 131, 140);
  cursor: pointer;
  border: none;
}

button:hover {
  color: rgb(194, 8, 97);
}

footer {
  text-align: center;
  padding-top: 1.53rem;
  padding-bottom: 1.5rem;
  font-size: 0.75rem;

}

.final {
  text-align: center;
  font-size: 1.75em;
  padding-top: 2rem;

}

/* SKILLS */


.skills-bar,
.title-section,
.grid, .language-skills{
  border-left: 2px solid  rgba(18, 102, 115, 0.5);
  border-right: 2px solid  rgba(18, 102, 115, 0.5);
  /* border-top: 2px solid rgba(18, 102, 115, 0.5); */
  width: 86%;
  margin: 0 auto;
  background-color: rgba(204, 214, 216, 0.9);
}

.title-section {
  padding-bottom: 2.5rem;
  padding-top: 1.5rem;
}

.skills-bar h4 {
  font-weight: 400;
  line-height: 1.5rem;
  padding-top: 2rem;
  color: rgb(0, 0, 0);
}

#skills h3 {
  font-weight: 400;
  color: rgb( 4, 121, 138);
  text-align: center;
}

.language {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.sc {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  margin: 0 auto;
  padding: 1.15em 1.25em;
  padding-top: 2rem;
  font-size: 1.28rem;
  color: rgb(6, 51, 59) ;
  cursor: pointer;
}


.sc > i:active {
  color: rgb(0, 0, 0);
}

.sc > i:hover {
  color: rgb(194, 8, 97);
}


.skills-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.15rem;
}

.skills-bar ul {
  width: 90.5%;
  height: 95%;
  list-style-type: none;
  margin-left: 3.25rem;
}

.bar {
  width: 94%;
  background-color: white;
  text-align: right;
}

.skills {
  text-align: right;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
}

.git {
  width: 90%;
  background: linear-gradient(270deg,
      #48838c,
      #04798a,
      #1b99b3,
      #126673,
      #f1f1f1);
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  -o-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.bs {
  width: 90%;
  background: linear-gradient(270deg,
      #48838c,
      #04798a,
      #1b99b3,
      #126673,
      #f1f1f1);
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  -o-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.react {
  width: 15%;
  background: linear-gradient(270deg,
      #48838c,
      #04798a,
      #1b99b3,
      #126673,
      #f1f1f1);
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  -o-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.figma {
  width: 70%;
  background: linear-gradient(270deg,
      #48838c,
      #04798a,
      #1b99b3,
      #126673,
      #f1f1f1);
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  -o-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.blank {
  padding: 2rem;
}

/*  PROJECTS*/

#projects, #skills {
  padding-top: 2rem;
}

.grid {
  width: 86%;
  display: grid;
  padding-bottom: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  /* option to avoid changing on the media querie */
  grid-template-rows: 2rem, 1fr;
  grid-template-areas:
    "title title"
    "box1 box2"
    'box3 box4'
  ;
}


.projects-title {
  grid-area: title;
}

.col-1 {
  grid-area: box1;
}

.col-2 {
  grid-area: box2;
}

.col-3 {
  grid-area:box3;
}

.col-4 {
  grid-area:box4;
} 

.col > * {
  padding: 2rem;
  margin: auto;
  text-align: center;
}

.square > * {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: opacity 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.square:hover .image {
  opacity: 0.3;
}

.square:hover .middle {
  opacity: 1;
}

.square figcaption {
  background-color: rgb(18, 102, 115);
  color: rgb(241, 241, 241);
  font-size: 2em;
  padding: 0.5rem;
}


/* Android and some Iphones */
@media only screen and (max-width: 40rem) {

  #lado {
    display: none;
    visibility: hidden;
  }

  .item p{
    position: relative;
    font-size: 0.4em;
    line-height: 3em;
    top: 2rem;
  }

  .item-2, .item-3, .item-4 {
    left: 2.15rem;
    text-align: left;
  }

  #home .item-1 {
    position: relative;
    text-align: right;
    right: 136.5px;
  }
  

  .icons i {
    display: block;
    position: relative;
    text-align: left;
    margin-right: -0.5em;
    left: 4.95rem;
    letter-spacing: 2em;
    line-height: 2.5rem;
    bottom: 6.9em;
    font-size: 2rem;
  }

  .main a {
    position: relative;
    right: 3.5rem;
    top: 0.10rem;
  }

.main-content {
  border-top: none;
}

.item {
  position: relative;
  bottom: 55px;
  border-bottom: 3px solid rgb(4, 121, 138);

}
.container {
  height: 80vh;
}

  div .side-1 {
    position: relative;
    right: 102px;
    top: -150px;
    bottom: 2px;
    width: 400px;
    height: 959.58px;
  }


  /* SKILLS */
  .title-section p,
  .projects-title p {
    font-size: 0.55em;
  }

  .skills-bar ul {
    list-style-type: none;
    margin-right: 1.75rem;
    line-height: 0.5rem;
  }

  .skills-bar li {
    width: 97.5%;
    font-size: 0.85rem;
    padding-bottom: 0;
  }

  .bar div{
    padding: 0.42rem;
  }


  /* PROJECTS */

  .grid {
    display: grid;
    grid-template-areas:
      'title'
      'box1'
      'box2'
      'box3'
      'box4'
    ;
  }
  
  .col > * {
    padding: 2rem;
    margin: auto;
    text-align: center;
  }
  
  .square > * {
    position: relative;
  }
  
  .middle {
    font-size: 0.5rem;
    padding: 0.10rem;
  }

  .square figcaption {
    font-size: 2em;
    padding: 0.10rem;
  }
  
  .image {
  opacity: 1;
  display: block;
  width: 61%;
  height: 100%;
  margin: 0 auto;
}

/* CONTACT */

button, .row-3 {
  width: 100%;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  font-size: 1.95rem;
  padding: 0.25rem;
}
  .row legend {
    font-size: 2rem;
    padding: 0.5rem;
  }

  .row {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    width: 87%;
    margin: 0 auto;
    padding: 0.2rem;
  }

  .row-3 input,
  .row-3 textarea,
  .row-3 label {
    width: 200px;
    font-size: 0.75rem;
  }

  .row-3 label {
    position: relative;
    left: 1.59rem;
  }

  .row-2  p{
    width: 100%;
    padding: 0.5rem;
    font-size: 0.83rem;
    line-height: 1.10rem;
  }

  .final {
    display: none;
    visibility: hidden;
  }
  

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .lg img {
    width: 2rem !important;
  }
}


/* DESKTOP + BIGGER SCREENS */

@media only screen and (min-width: 1280px) {
 
  .grid {
    display: grid;
    gap: 2.0rem;
  }
  
   figure {
     width: 86.7%;
     height: 100%;
     margin: 0 auto;
     padding-top: 0.5rem;
    }
 
   .middle {
     opacity: 1 !important;
     /* https://css-tricks.com/when-using-important-is-the-right-choice/ */
     transform: translate(0%, 0%) !important;
     text-align: center;
   }
 
   .square {
     width: 90%;
     justify-self: center;
 
   }

   .final {
     padding: 1.35rem;
     padding-bottom: 0;
   }


.sc {
  font-size: 5.3rem;
}

 
 }
 